.main {
  position: fixed;
  top: 12.8vw;

  background-color: #fff;

  overflow-x: hidden;
  overflow-y: scroll;

  width: 100vw;
  height: 100vh;
  padding-top: 10vw;
  padding-bottom: 16vw;
  z-index: 10;
}
